@import "tailwindcss";

/* Base mínima, mobile-first */
html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
